@import url("main.css");

footer {
    p {
        background-color: var(--primary);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 1rem;
        font-weight: 500;
        color: var(--lighter);
    }
}